
*.dll
*.afm
*.ttf
*.zip
*.toc
*.pyc
*.pkg
*.pyd
*.exe
*.pyz
*.txt
*.html
prod/dist/leitorPDF/_internal/matplotlib/mpl-data/fonts/ttf/LICENSE_DEJAVU
prod/dist/leitorPDF/_internal/matplotlib/mpl-data/fonts/ttf/LICENSE_STIX
*.svg
*.pdf
*.png
*.lua
prod/dist/leitorPDF/_internal/matplotlib/mpl-data/matplotlibrc
*.css
*.npy
*.csv
*.dat
*.xrc
*.mplstyle
*.jpg
*.npz
*.tpl
prod/dist/leitorPDF/_internal/pytz/zoneinfo/Africa/Abidjan
*.gz
prod/dist/leitorPDF/_internal/pytz/zoneinfo/Africa/Accra
prod/dist/leitorPDF/_internal/pytz/zoneinfo/Africa/Algiers
prod/dist/leitorPDF/_internal/pytz/zoneinfo/Africa/Addis_Ababa
prod/dist/leitorPDF/_internal/pytz/zoneinfo/Africa/Asmera
prod/dist/leitorPDF/_internal/pytz/zoneinfo/Africa/Asmara
*.enc
*.msg
*.tcl
*.gif
